<div class="page-header">
    <h1>Create new user account</h1>
</div>

<form name="signupForm" ng-submit='register.registerUser(data)'>
    <!-- Username -->
    <label>Username: </label>
    <input 
        type="text" 
        name="username" 
        placeholder="enter username"
        class="form-control"
        ng-model="register.data.username"
    >
    <br>

    <!-- Password -->
    <label>Password: </label>
    <input 
        type="password" 
        name="password"
        placeholder="enter password"
        class="form-control"
        ng-model="register.data.password"
    >
    <br>

    <!-- Email -->
    <label>Email: </label>
    <input 
        type="text" 
        name="email" 
        placeholder="enter email"
        class="form-control"
        ng-model="register.data.email"
    >
    <br>

    <button type="submit" class="btn btn-primary">Register</button>
</form>

<br>
<div class="jumbotron text-center" ng-show="register.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading</p>
</div>


<br>

<div class="row show-hide-message" ng-show="register.successMsg">
    <div class="alert alert-success">{{ register.successMsg }}</div>
</div>

<div class="row show-hide-message" ng-show="register.errorMsg">
        <div class="alert alert-danger">{{ register.errorMsg }}</div>
</div>